

@media screen and (max-width:768px){
        /* remove :hover for mobile */

        .nav-links a:hover::before{
            width: none; 
            left: none; 
        }
        
        .product:hover{
            box-shadow:none;
            transform: none;
            transition: none;
        }
    
        .product .img-product img:hover{
            transform: none;
            transition: none;
            cursor: none;
        }
    
        .buttons button:nth-child(1):hover{
            box-shadow:none;
        }
    
        .buttons .more-details:hover{
            text-decoration: none;
        }
}



@media screen and (max-width:529px){
    .top-header{
        flex-direction: column;
        gap: 25px;
    }
    .header .container-search-products{
        width: 100%;
    }
}


@media screen and (max-width:470px){
    .products {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .tittle-product{
        font-size: 1.3rem;
    }
    .buttons > button{
        height: 30px;
        font-size: 1.0rem;
    }
}
@media screen and (max-width:370px){
    .products {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        padding-inline:25px;
    }
}



